@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Adds custom font to everything */
* {
    font-family: Raleway;
    letter-spacing: 0.5px;
}

/* Fixes animations not working if Windows settings are set to No Animations */
@media(prefers-reduced-motion: reduce) {
    *,:after,:before {
        -webkit-animation-delay: -1ms;
        animation-delay: -1ms;
        -webkit-animation-duration: 1ms;
        animation-duration: 1ms;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        background-attachment: scroll;
        scroll-behavior: auto;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }
}

/* No fading at the end of animation */
.main-trackInfo-contentWrapper {
    padding-inline-end: 25px;
}

/* Song name in player */
.main-nowPlayingWidget-nowPlaying .main-trackInfo-name {
	overflow: unset;
    position: relative;
	font-size: 20px;
    letter-spacing: 2px;
    animation: 5s ease-in-out 0s infinite running SongTextAnim !important;
}

/* Animation properties */
@keyframes SongTextAnim {
    0%   {left:0px;}
    50%  {left:5px;}
    100%  {left:0px;}
}

/* Artist name in player */
.main-nowPlayingWidget-nowPlaying .main-trackInfo-artists {
	overflow: unset;
	font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Hide liked button */
.control-button-heart {
    display:none;
}

/* Darker shade of blue at the bottom (now playing bar) */
.main-nowPlayingBar-container{
    background-color: rgb(4, 18, 34);
}

/* Darker shade of blue at the left (navigation bar) */
.main-navBar-mainNav {
    background-color: rgb(4, 18, 34);
}

:root {
    --player-bar-height: 100px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.connect-device-list-container {
    box-shadow: 0 4px 20px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowTitle {
    color: var(--spice-button);
}

.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: var(--spice-button);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive {
    background: var(--spice-button);
}

div.GlueDropTarget.personal-library >*.active {
    background: var(--spice-button) !important;
}

.main-contextMenu-menu {
    background-color: var(--spice-button-active);
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    color: var(--spice-text);
}

.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: white;
}

/** Queue page header */
.queue-queue-title,
.queue-playHistory-title {
    color: var(--spice-text) !important;
}

/** Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

/** Sidebar */
.main-rootlist-rootlistDivider {
    margin-bottom: 8px;
}

.main-rootlist-rootlistPlaylistsScrollNode {
    padding: 0;
}

#spicetify-playlist-list {
    padding-top: 8px;
}
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-icon,
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-collectionLinkText {
    opacity: 1;
}

.link-subtle {
    color: var(--spice-text);
}

/** Player bar */
.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

/** Buddy bar */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink {
    color: var(--spice-text);
}